
<div class="container">
  Name:
  <input [(ngModel)]="name" ><br />
  Life Span:
  <input [(ngModel)]="lifespan"><br />
  Order:
  <input [(ngModel)]="order"><br />
  Conservation Status:
  <input [(ngModel)]="conservationStatus" ><br />
  Image url:
  <input [(ngModel)]="imgurl" ><br />
  Family:
  <input [(ngModel)]="familyName" (ngModelChange)="UpdateAnimal()" ><br />
  Description:
<textarea rows="15" cols="75" [(ngModel)]="description" (ngModelChange)="UpdateAnimal()" >

</textarea> <br />
  <button (click)="CreateAnimal()" [routerLink]='["/animals/"]'> Create </button>
</div>
